# Telegram notification
TELEGRAM_BOT_TOKEN=8746083405:AAEdvTqJGbestyr5qfIYnq-VVCpP_T8mPqE
TELEGRAM_CHAT_ID=

# Hadoop logging
# local (default) or webhdfs
HADOOP_MODE=local

# Used only when HADOOP_MODE=webhdfs
HADOOP_WEBHDFS_URL=http://localhost:9870/webhdfs/v1
HADOOP_LOG_PATH=/fire-hydrant/sensor-log.jsonl
